<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Builder example</title>
    <link rel="stylesheet" href="../components/yes-bundle/dist/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../components/yes-bundle/dist/vendor/bootstrap/css/bootstrap-theme.min.css">

    <style>
        .clickable {
            cursor: pointer;
        }

        ul, li {
            list-style-type: none;
        }

        .current {
            border: 1px solid #ccc;
        }

    </style>
</head>
<body ng-app="app">

<div class="container" style="padding-top: 50px;">
    <div ng-controller="demo">
        <div class="row">
            <div class="col-xs-3">
                <div>角色列表</div>
                <div ng-repeat="role in roles" ng-class="{'current':role == currentRole}" class="clickable"
                     ng-click="action.selectRole(role)">
                    {{role.name}}
                </div>
            </div>
            <div class="col-xs-9">
                <div>
                    <button ng-click="action.copyAuthority()">复制权限</button>
                    <label> 当前角色:[ {{currentRole.name}} ]</label>

                    <button ng-click="action.save()">保存</button>
                </div>
                <div yes-tree-view data-nodes="node.subMenus"></div>
            </div>
        </div>

        <div>
            保存结果: {{result}}
        </div>
    </div>
</div>
<script src="../components/yes-bundle/dist/vendor/jquery.min.js"></script>
<script src="../components/yes-bundle/dist/yes.bundle.min.js" charset="utf-8"></script>
<script src="../components/yes-utils/dist/yes.utils.js" charset="utf-8"></script>
<script src="../dist/yes.ui.dependencies.js" charset="utf-8"></script>

<script type="text/javascript">

    angular.module('app', ['yes.utils'])
            .run(function ($templateCache) {
            })
            .directive('yesTreeView', function ($compile, $templateCache, $http) {

                var walkChildren = function (tree, state) {
                    angular.forEach(tree, function (node) {
                        node.selected = state;
                        if (node.subMenus) {
                            walkChildren(node.subMenus, state);
                        }
                    });
                };

                var walkParent = function (node, state) {
                    if (node && node.parentNode && state) {
                        node.parentNode.selected = state;
                        walkParent(node.parentNode, state);
                    }
                };

                return {
                    scope: {
                        nodes: "="
                    },
                    link: function (scope, element, attrs) {
                        $http.get("plugins/base/templates/tree-view.html", {cache: $templateCache})
                                .success(function (html) {
                                    scope.selectChanged = scope.selectChanged || function (node) {
                                                walkChildren(node.subMenus, node.selected);
                                                walkParent(node, node.selected);
                                            };

                                    element.html('').append($compile(html)(scope));
                                });
                    }
                };
            })
            .controller('demo', function ($http, $scope, $timeout, utils) {

                var self = $scope;
                self.result = [];

                $http.get('data/menus.json?').success(function (data) {
                    var menus = utils.menus.initMenus(null, data.body.items);
                    self.node = {"subMenus": menus};
                });

                self.loadRoleRight = function (uid) {
                    $http.get('data/right-' + uid + '.json?id=' + 10000 * Math.random()).success(function (data) {
                        self.currentRights = {};
                        angular.forEach(data.body.items, function (item) {
                            self.currentRights[item.menuId] = true;
                        });
                        walkTree(self.node.subMenus);
                    });
                };

                var walkTree = function (tree) {
                    angular.forEach(tree, function (node) {
                        node.selected = self.currentRights[node.uid] || false;
                        if (node.subMenus) {
                            walkTree(node.subMenus);
                        }
                    });
                };

                $http.get('data/roles.json').success(function (data) {
                    self.roles = data.body.items;
                });

                var getResult = function (tree) {
                    angular.forEach(tree, function (node) {
                        if (node.selected)
                            self.result.push(node.uid);
                        if (node.subMenus) {
                            getResult(node.subMenus);
                        }
                    });
                };

                self.action = {
                    selectRole: function (role) {
                        self.currentRole = role;
                        self.loadRoleRight(role.uid);
                    },
                    copyAuthority: function () {

                    },
                    save: function () {
                        self.result = [];
                        getResult(self.node.subMenus);
                    }
                }

            })
</script>
</body>
</html>